name: Build

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest
    
    steps:
    - uses: actions/checkout@v4
    
    - name: Set up JDK 17
      uses: actions/setup-java@v4
      with:
        java-version: '17'
        distribution: 'temurin'
        
    - name: Setup Gradle
      uses: gradle/gradle-setup-build-action@v0.0.1
      with:
        gradle-version: 8.5
        
    - name: Build with Gradle
      run: gradle build
      
    - name: Upload artifact
      uses: actions/upload-artifact@v4
      with:
        name: BoomMan
        path: build/libs/*.jar
